@*@{
    ViewData["Title"] = "Login Page";
}
*@
@model Actor
<div class="text-center">
    <h3 class="display-4">Welcome to Movie Cast</h3>
    <h4> Hero Name @Model.ActorName</h4>
    <h4>Movie Name @Model.movieName</h4>
</div>